/*estilos generales*/
*{
    margin: 0px;
    box-sizing: border-box;
  
}
.contenedor{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.margen-interno{
    padding: 0 50px;
}
/*boton del menú responsive*/
.boton-menu{
    position: absolute;
    cursor: pointer;
    top: 9px;
    left:12px;
    z-index:2;
    color: rgb(84, 84, 84);
    transform: translateX(-900px);
}


/*cabecera*/
.cabecera{
    display: flex;
    flex-direction: column;
    background: url("../img/cabecera.jpg")no-repeat center 70% ;
    background-size: cover;
    margin-bottom: 25px;
}
  /*barra de navegación*/
.menu{
    display: flex;
    align-items: center;
    height: 175px;
}
.logo{
    flex-grow: 1;
}
.logo img{
    height:  105px;
}
.navegador{
    flex-grow: 3;
    display: flex;
    font-family:'Open Sans', sans-serif;
}
.navegador a{
    color:rgb(84, 84, 84);
    transition: 11ms;
    padding: 10px;
}
.navegador a:hover{
    color: black;
}
.navegador i{
    padding: 10px;
}
.social{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.social li{
    padding: 10px;
}
.social a{
    color:rgb(84, 84, 84);
}
.social a:hover{
    color: black;
}
.titulo-cabecera{
    display: flex;
    
    
}
.titulo-cabecera h2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 20px 0;
    width: 100%;
    height: 130px;
    font-size: 40px;
    text-align: center;
    background: rgba(3, 3, 3, 0.075);
    color:rgba(247, 63, 81, 0.6);
}
.cabecera2{
    display:flex;
}
.cabecera2 img{
    height: auto;
    width: 50%;
    padding: 30px 20px 0 0;
    
}

/*contenido principal*/
.contenido{
    display: flex;
    background: #f7f7f7;
}
.articulos{
    background: #f7f7f7;
    display: flex;
    flex-grow: 2;
    flex-flow: row wrap;
    width: 100%;
}
.articulo{
    flex: 1 1 40%;
    font-size: 15px;
    margin: 10px 10px 0 0;
    flex: 1 1 45%;
    background: #ececec;
}
.articulo img{
    width: 100%;
}
.articulo a{
    color:rgb(150, 150, 150);
    font-size: 13px;
    font-weight: bold;
    padding: 0 10px 10px 10px;
    margin: 10px 0;
    display: inline-block;
}
.articulo a:hover{
    color: black;
}
.articulo h3{
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    margin-top: -28px;
    background: rgb(247, 63, 82);
}
.articulo h2{
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0px 10px;
    margin-top: -1px;
    line-height: .7;
    color: #fff;
    background: rgb(247, 63, 82);
    
}
.articulo p{
    padding: 20px 10px 10px 10px;
    color:rgb(84, 84, 84);
    font-weight: bold;
}

/*pie navegación de la seccion noticias*/

.navegacion{
    flex: 1 1 100%;  
    margin: 10px 10px 0 0;
    background: rgba(247, 63, 81, 0.7);
    
}
.navegacion a{
    color: #fff;
    font-size: 20px;
    padding: 0 10px;
}
.navegacion a:hover{
    color:black;
}
.boton{
    display: none;
}
.lateral{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 10px 5px 10px 0;
}
.lateral img{
    width: 100%;
    padding: 20px;
}
.lateral h4{
    background: rgba(247, 63, 81, 0.7);
    color: #fff;
    text-transform: uppercase;
}

/*pie de página*/
.pie-principal{
    display: flex;
    height: 50px;
    background: rgb(219, 219, 219);
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    
}
.pie{
    display: flex;
    text-align: center;
}
.pie a{
    color: rgb(84, 84, 84);
    font-size: 15px;
    padding: 0 10px;
    
}

/*MEDIA QUERYS PARA EL RESPONSIVE*/
@media all and (max-width: 900px){
    .menu{
        flex-direction: column;
        height: auto;
    }
    .social{
        flex-direction: row;
        align-self: flex-end;
        position: absolute;
        padding-top: 15px;
        
    }
    
    .contenido{
        flex-direction: column;
    }
    .lateral{
        justify-content: center;
    }
    .titulo-cabecera h2{
        font-size: 30px;
    }
}
@media all and (max-width: 600px){
    .boton-menu{
        transform: translateX(0px);
        font-size: 30px;
    }
    .boton-menu.pulsado{
        color:white;
    }
    .navegador{
        display: block;
        position: absolute;
        top: 0px;
        left: 0;
        background: rgb(0, 0, 0, 0.9);
        height: auto;
        width: 100%;
        padding: 50px;
        transform: translateX(-900px);
        transition: transform .8s ease-in-out;
        font-size: 22px;
    }
    .navegador li{
        padding: 15px;
        
    }
    .navegador li i{
        padding: 20px;
    }
    .navegador.mostrar{
        transform: translateX(0px);
    }
    .navegador a{
        color: white;
    }
}

@media all and (max-width: 700px){
    
    .margen-interno{
        padding: 0 20px;
    }
    .articulos{
        flex-direction: column;
    }
    
}
@media all and (max-width: 450px){
    .titulo-cabecera h2{
        font-size: 25px;
    }
    .articulo p{
        font-size:12px;
    }
    .fuera{
       display: none;
    }
}